<template>
    <div class="containerOfChapter">
        <div class="displayNumberChapter">
    <v-toolbar
      color="blue lighten-5"
      dark
      tabs
      class="toolbarOfChapter"
    >
        <h2 class="nameAndChapter">Chapter {{chapter}} - {{nameOfManga}}</h2>
    </v-toolbar>
  </div>
        <div class="displayChapter" v-for="image in images" :key="image.id"> 
            <img :src="'data:image/png;base64,' + image" alt="">
        </div>
    </div>
</template>

<script>
const axios = require("axios");

export default {
    data() {
        return {
            chapter: '',
            nameOfManga: '',
            images: []
        }
    },
    created() {
        let lastOcurrence = window.location.href.lastIndexOf("/"); 
        this.chapter = window.location.href.substring(lastOcurrence + 1)
        let mangaOcurrence = window.location.href.indexOf("/manga"); 
        let chapterOcurrence = window.location.href.indexOf("/chapter");
        let mangaId = window.location.href.substring(mangaOcurrence + 7, chapterOcurrence)
        axios.get("http://localhost:8085/manga/" + mangaId)
        .then(response=> this.nameOfManga = response.data.title)

        axios.get("http://localhost:8085/manga/" + mangaId + "/" + this.chapter)
        .then(response => this.images = response.data)
    }
}
</script>


<style scoped>

.containerOfChapter {
  display: grid;
  grid-template-columns: minmax(1em,1fr) minmax(0, 80em)  minmax(1em,1fr);
}

.displayChapter {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.filtersMangas {
    grid-column: 1/2;
}
.displayNumberChapter {
    grid-column: 1/4;
  display: flex;
  flex-direction: column;
}
.nameAndChapter {
    color: black;
}
.toolbarOfChapter {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
