<template>
    <div class="uploadImage">
        <div class="uploadImage__container--scores-title">
        <v-flex xs4>
        <v-text-field
          name="title"
          v-model="title"
          :label="'Title' | translate "
        ></v-text-field>
        </v-flex>
        <v-flex xs3>
        <v-select
          :items="items"
          v-model="score"
          :label="'Scores' | translate "
          single-line
        ></v-select>
        </v-flex> 
        <v-flex xs3>
        <v-select
          :items="genders"
          v-model="gender"
          :label="'Genders' | translate "
          single-line
        ></v-select>
        </v-flex> 
        </div>
       <div class="uploadImage__container"> 
      <input type="file" @change="previewFile()"><br>
      <!-- <v-btn type="file" @change="previewFile()" depressed color="primary">Send</v-btn> -->
      <img id="frontManga" src="" width="200" height="250" alt="Imagen para portada">
        <v-text-field
        name="input-1"
        label="Description"
        v-model="description"
        textarea
        ></v-text-field>
        
        <v-btn @click="sendImage()" depressed color="primary">Send</v-btn>
    </div>
    </div>
</template>

<script>
const axios = require("axios")
export default {
data() {
  return {
    selectedFile: null,
    image: '',
    items: ['0','1','2','3','4','5','6','7','8','9','10'],
    genders: ['Deportes', 'Shounen', 'Escolar', 'Drama'], 
    score: 0,
    gender: '',
    description: '',
    title: ''
  }
},
methods: {
  onFileChanged (event) {
    this.selectedFile = event.target.files[0]
  },
  previewFile() {
    var preview = document.querySelector('img');
    this.image = document.querySelector('input[type=file]').files[0];
    var reader = new FileReader();

    reader.addEventListener("load", function () {
        preview.src = reader.result;
    }, false);

    if (this.image) {
        reader.readAsDataURL(this.image);
    }
    document.getElementById("frontManga").style.display = "inline"
  },
  sendImage() {
        var canvas, ctx, dataURL, base64;
        var img = document.getElementById("frontManga");
        canvas = document.createElement("canvas");
        ctx = canvas.getContext("2d");
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;
        ctx.drawImage(img, 0, 0);
        dataURL = canvas.toDataURL("image/png");
        base64 = dataURL.replace(/^data:image\/png;base64,/, "");
        var serie = {title: this.title, 
        description: this.description,
        genders: this.gender,
        image: base64,
        score:this.score}
        axios.post("http://localhost:8085/createManga",serie).then(response=> console.log(response))
        }
    }  
}
</script>

<style scoped>
.uploadImage {
    margin-top: 5%;
    display:grid;
    grid-template-columns: 1fr minmax(0,80em) 1fr;
}
.uploadImage__container{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadImage__container--scores-title{
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#frontManga {
    display: none;
}

</style>
