<template>
<div class="container">
  <div  class="displayAllMangas">
    <!-- <p>{{ 'Hello' | translate }}</p> -->
    <div v-for="(manga, index) in mangas" :key="index">
      <router-link :to="'/manga/' + manga.id" tag="span" style="cursor: pointer" class="mt-4">      
        <Manga :data="manga" class="frontOfImage"/>
      </router-link>      
    </div>  
  </div>
</div>  
</template>


<script>
const axios = require("axios");
import Manga from "./Manga";
export default {
  data() {
    return {
      mangas: []
    };
  },
  created() {
    axios.get("http://localhost:8085/").then(response => {
      this.mangas = response.data
    }
    )
  },
  components: {
    Manga
  }
};
</script>

<style scoped>
.container {
    display:grid;
    grid-template-columns: 1fr minmax(0,80em) 1fr;
}

  .displayAllMangas {
    grid-column: 2/3;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


</style>
