<template>
<div class="insertImages">
  <div class="inputsOfInsertImages">
    <v-text-field
      class="inputOfChapter"
      name="chapter"
      v-model="chapter"
      label="chapter"
      @input="changeUrl"
     ></v-text-field>
  </div>
    <div class="app">
        <vue-dropzone
        ref="dropzone"
        id="drop1"
        :options="dropOptions"
        @vdropzone-removed-file="removingFile"
        @vdropzone-complete="afterComplete"
        ></vue-dropzone>
        <v-btn @click="removeAllFiles" depressed color="primary">Remove All Files</v-btn>
        <v-btn id="c" @click="sendFiles" depressed color="primary" >SAVE CHAPTER</v-btn>
    </div>
    </div>
</template>

<script>
import vueDropzone from "vue2-dropzone";
const axios = require("axios")
import {mapGetters} from 'vuex'
import {MANGA_USING} from '../store/actions_types'

export default {
  data: () => ({
    pages: [],
    chapter: '',
    canRemove: true,
    dropOptions: {
      url: "http://localhost:8085/uploadFile",
      addRemoveLinks: true
    },
    
  }),
  methods: {
    removeAllFiles() {
      this.$refs.dropzone.removeAllFiles()
    },
    removingFile(file) {
      if(this.canRemove){
        let image = {
                    "image" : file.name,
                      "manga": this.mangaUsing,
                      "chapter": this.chapter
                    }
        axios.delete("http://localhost:8085/deleteFile",{ data: image })
      }
    },
    changeUrl(){
      this.$refs.dropzone.setOption('url', `http://localhost:8085/uploadFile?chapter=${this.chapter}&manga=${this.mangaUsing}` )
    },
    sendFiles(){
        this.canRemove=false
        this.$refs.dropzone.removeAllFiles()
        this.canRemove=true
    },
    afterComplete(file) {
      let newChapter = {
                        "image":file.name,
                        "manga": this.mangaUsing,
                        "chapter": this.chapter
                        }
      axios.post("http://localhost:8085/saveImageOfChapter", newChapter)
    }
  },
  components: {
    vueDropzone
  },
  computed: {
    mangaUsing() {
      return this.$store.state.mangaUsing + "";
    }
  }
};
</script>

<style scoped>
  .insertImages {
    margin-top: 5%;
    display:grid;
    grid-template-columns: 1fr minmax(0,80em) 1fr;
  }
  .inputsOfInsertImages {
    grid-column: 2/3;
  }
  .inputOfChapter{
    width: 25%;
  }
  .app {
    grid-column: 2/3;
  }
</style>



