<template>
  <div class="login">
    <v-form v-model="valid" class="inputsOfLogin">
      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required
      ></v-text-field>
      <v-text-field
            v-model="password"
            :rules="passwordRules"
            :type="'password'"
            label="Password"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>
    </v-form>
    
    <div class="buttonOfLogin">
      <v-btn @click="loginUser()" depressed color="primary">Sign in</v-btn>
    </div>
  </div>
</template>

<script>
const axios = require("axios")
import {mapActions} from 'vuex'
import {USER_LOGIN} from '../store/actions_types'
export default {
  data: () => ({
    valid: false,
    show1: false,
    password: "",
    passwordRules: [
      v => !!v || "password is required",
      v => v.length >= 4 || "Password must be more than 4 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "E-mail must be valid"
    ]
  }),
  methods: {
    ...mapActions([
      USER_LOGIN
    ]),
    loginUser() {
      let user = {email:this.email, password: this.password}
      axios.post("http://localhost:8085/login",user)
      .then(response => this[USER_LOGIN](response.data.name))
      .then(response => this.$router.push({ name: "Index"}))
    }
  }

};
</script>

<style scoped>
  .login {
    margin-top: 10%;
    display:grid;
    grid-template-columns: 1fr minmax(0,80em) 1fr;
  }

  .inputsOfLogin {
    grid-column: 2/3;
  }
  .buttonOfLogin {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
  }
</style>



