<template>
    <div class="containerManga">
      <div class="body_manga">

        <Manga :data="manga" class="frontOfImage"/>
        <h3>{{ "Description"  | translate }}</h3>
        <p>{{manga.description}} </p>
        <router-link :to="'/manga/' + manga.id + '/insertChapter'" tag="span" style="cursor: pointer" class="mt-4" v-if="'Login' != userLogged"> 
          <v-btn @click="saveManga(manga.id)" depressed color="primary">{{"Añadir Capítulo" | translate}}</v-btn>
        </router-link>
        </div>
        <div class="chapters_manga">
        <v-list>
          <v-list-group
            v-for="item in chapters"
            :key="'Chapter ' + item"
            :prepend-icon="item.action"
            no-action
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>Chapter {{ item }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              
              <v-list-tile-content>
                <router-link :to="'/manga/' + manga.id + '/chapter/' + item" tag="span" style="cursor: pointer" class="mt-4"> 
                  <v-list-tile-title> Version 0</v-list-tile-title>
                </router-link>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </v-list>
    </div>
</div>
</template>

<script>
const axios = require("axios");
import Manga from "./Manga";
import {mapActions} from 'vuex'
import {MANGA_USING} from '../store/actions_types'

export default {
    data() {
        return {
         manga: {},
          chapters: ''
        }
    },
    created() {
    let idOfManga = location.href.substr(location.href.lastIndexOf('/') + 1)
    axios.get("http://localhost:8085/manga/" + idOfManga)
         .then(response => response.data)
         .then(response => this.manga = response)

    axios.get("http://localhost:8085/chapters/" + idOfManga)
        .then(response => {
          this.chapters = response.data
          })     
    },
    methods: {
      ...mapActions([
      MANGA_USING
      ]),
      saveManga(idOfManga){
        this[MANGA_USING](idOfManga)
      }
    },
  components: {
    Manga
  },
  computed: {
    userLogged() {
      let result = "Login";
      if(this.$store.state.userLogin!=''){
        result = this.$store.state.userLogin
      }
      return result;
    }
  }
}
</script>

<style scoped>
.containerManga {
    margin-top: 5%;
    display:grid;
    grid-template-columns: 1fr minmax(0,80em) 1fr;
  }
  .body_manga {
   grid-column: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  .chapters_manga {
    grid-column: 2/3;
  }
</style>


