<template>
  <div class="containerLibrary">
    <div  class="filtersMangas">
            <v-text-field
              id="search"
              name="search"
              label="Search"
              v-model="search"
              @keyup.enter="findManga"
            ></v-text-field>
            <v-expansion-panel>
                <v-expansion-panel-content>
                    <div slot="header">Filtros</div>
                    <v-card>
                      <v-checkbox
                        label="Ordenar A-Z"
                        v-model="sortAlphabetically"
                      ></v-checkbox>
                      <v-checkbox
                        label="Ordenar Valoración"
                        v-model="sortValoration"
                      ></v-checkbox>
                    </v-card>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    <div slot="header">Géneros</div>
                    <v-card>
                          <v-checkbox
                            label="Deportes"
                            v-model="deportesCheckBox"
                          ></v-checkbox>
                          <v-checkbox
                            label="Shounen"
                            v-model="shounenCheckBox"
                          ></v-checkbox>
                          <v-checkbox
                            label="Drama"
                            v-model="dramaCheckBox"
                          ></v-checkbox>
                          <v-checkbox
                            label="Escolar"
                            v-model="escolarCheckBox"
                          ></v-checkbox>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>  
            </div>
  <div  class="displayAllMangas">
    <!-- <p>{{ 'Hello' | translate }}</p> -->
    <div v-for="(manga, index) in checkGenders" :key="index">
      <router-link :to="'/manga/' + manga.id" tag="span" style="cursor: pointer" class="mt-4">      
        <Manga :data="manga" class="frontOfImage"/>
      </router-link>      
    </div>  
  </div>
</div>
</template>

<script>
const axios = require("axios");
const _ = require("lodash");
import Manga from "./Manga";
export default {
  data() {
    return {
      mangas: [],
      filtersMangas: [],
      search: '',
      deportesCheckBox: false,
      shounenCheckBox: false,
      dramaCheckBox: false,
      escolarCheckBox: false,
      sortAlphabetically: false,
      sortValoration: true,
    };
  },
  created() {
    axios.get("http://localhost:8085/").then(response => {
      this.mangas = response.data
      this.filtersMangas = response.data
    }
    )
  },
  components: {
    Manga
  },
  methods: {
    findManga(){
      if(this.search == '') this.filtersMangas = this.mangas
      this.filtersMangas = this.filtersMangas.filter(manga => {
        let titleOfManga = manga.title.toLowerCase()
        if(titleOfManga.includes(this.search))return titleOfManga
        })
    }
  },
  computed: {
    checkGenders() {
      let filters=this.filtersMangas
      if(this.sortValoration==false){
        filters = _.sortBy(filters, manga=> manga.score)
      }
      if(this.sortAlphabetically){
        filters = filters.sort(function(a, b){
            if(a.title < b.title) return -1;
            if(a.title > b.title) return 1;
            return 0;
        })
      }
      if(this.deportesCheckBox){
        filters = filters.filter(manga => manga.genders == "Deportes")
      }
      if(this.shounenCheckBox){
        filters = filters.filter(manga => manga.genders == "Shounen")
      }
      if(this.dramaCheckBox){
        filters = filters.filter(manga => manga.genders == "Drama")
      }
      if(this.escolarCheckBox){
        filters = filters.filter(manga => manga.genders == "Escolar")
      }
      return filters
    }
  }
};

</script>

<style scoped>
.containerLibrary {
    display:grid;
    grid-template-columns:  minmax(1em,1fr) minmax(0, 80em)  minmax(1em,1fr);
}

  .displayAllMangas {
    grid-column: 2/3;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .filtersMangas {
    margin-top: 40%;
    grid-column: 1/2;
  }
</style>

