<template>
<!-- <router-link :to="'/manga/' + data.id" tag="span" style="cursor: pointer" class="mt-4"> -->
<div>
<h3 class="title">{{data.title}}</h3>
<img :src="'data:image/png;base64,' + data.image" class="imageOfManga">
<h3 class="score">SCORE: {{data.score}}</h3>
</div>
<!-- </router-link> -->
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["data"]
};
</script>

<style scoped>
    .imageOfManga {
        width: 200px;
        height: 250px;
    }
    .title {
      text-align: center;
    }
    .score {
      text-align: right;
    }
</style>


